
<div class="featured lazy">
 <!-- style="background: url({% if section.settings.img_product %}{{ section.settings.img_product }}{% else %}https://via.placeholder.com/1200x800{% endif %}) 50% 70%;">  -->
  <video id="background-video" autoplay loop muted poster="{{ section.settings.img_product }}">
    <source src="{{ section.settings.img_product }}" type="video/mp4">
    </video>
</div> 
<!-- /featured --> 
  
{% schema %} 
{ 
  "name": "Featured Product Parallax", 
  "settings": [ 
    { 
      "type": "header", 
      "content": "Parallax featured product" 
    }, 
    { 
      "type": "text", 
      "id": "img_product", 
      "label": "Section image" 
    }
  ], 
  "presets": [ 
    { 
      "name": "Video Parallax", 
      "category": "video" 
    } 
  ] 
} 
{% endschema %} 
