
<div class="bottom-video">
    <figure>
      <video loop muted="muted" autoplay>
        <source src="{{ section.settings.img_product }}"/>
      </video>
    </figure>
  </div>
  <div class="center-content-parallax" >
      <div class="text-container" style="float: left">
        <h2>{{ section.settings.section_title }}</h2>
        <p>{{ section.settings.section_text }}</p>
    </div>
    <div class="center-image-container" style="float: right">
        <img src="{{ section.settings.image | image_url: width: 20 }}">
    </div>
  </div>
  <script>

  
    jQuery(window).scroll(function () {

  });
  
  </script>
    
  {% schema %} 
  { 
    "name": "Bottom Parallax", 
    "settings": [ 
      { 
        "type": "header", 
        "content": "Bottom Parallax" 
      }, 
      { 
        "type": "text", 
        "id": "img_product", 
        "label": "Section video" 
      },
      { 
        "type": "text", 
        "id": "section_title", 
        "label": "Section title 1" 
      },
      { 
        "type": "richtext", 
        "id": "section_text", 
        "label": "Section content 1" 
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "center image"
      }
    ], 
    "presets": [ 
      { 
        "name": "Bottom Parallax", 
        "category": "video" 
      } 
    ] 
  } 
  {% endschema %} 